<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Snack Snap</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
</head>
<body id="body">
    <div id="header">
    {% block header %}
    <ul id="header_links">
        <div id="menu_icon">
        <div class="menu_line"></div>
        <div class="menu_line"></div>
        <div class="menu_line"></div>
        </div>

        <li id="drop_down"><a href="/sign_up">sign-up</a></li>
        <li><a href="/sign_in">sign-in</a></li>
        <li><a href="">profile</a></li>
        <li><a href="">add new post </a></li>

    </ul>
    {% endblock %}
    </div>

    <div id="content">{% block content %}
        {% endblock %}</div>

    <div id="footer">{% block footer %} 
        {% endblock %}</div>
</body>
</html>