{% extends "base.html" %}
{% block title %}Main Page{% endblock %}
{% block content %}

{% if username %}
<h2 id="recipe_title"class="white_content_box">{{title}}</h4>
<div class="content_tile white_content_box">
    
    <div class="img_tile">
        <img src={{image|safe}} alt="" srcset="">
    </div>
    <div class="comment_tile">
        <p class="instructions">{{instructions|safe}}</p>
    </div>
    <!-- <div class="ingredients">
        <p>{{ingredients}}</p>
    </div> -->
</div>
{% else %}



{%endif%}




{% endblock%}


