{% extends "base.html" %}
{% block title %}Profile Page{% endblock %}
{% block content %}
{% for item in results %}
<div class="feed_content">
    <div>
        <p>{{item[2]}}</p>
    </div>
    <br>
    <div class="feed_comment_text">{{item[1]}}: "{{item[3]}}"</div>
    <br>
    <img class='feed_img' src={{item[4]}} alt="">
    <br>
    <form action="/delete" method="post">
        <input type="hidden" name="post_id" value={{item[5]}} id="post_id">
        <input type="submit" value='delete'>
    </form>
</div>

{% endfor %}

{% endblock %}